include LICENSE
include LICENSE.txt
include README.md
include pyproject.toml
recursive-include nfops_* *.py
recursive-include nfops_promotion/templates *.j2

# heavy/local-only は配布から除外（必要ならコメントアウト）
prune docker
prune grafana
prune pricing
prune prometheus
prune examples
prune tests
prune logs
prune preds
